
# Caches
*Cache*
*cache*
Code Cache/
CachedProfilesData/
CachedExtensionVSIXs/
CachedConfigurations/
CachedData/

# Logs
*log*
logs/
*.log

# Crash reports
Crashpad/
Crash Reports/
*.dmp

# Stow & Local State
Session Storage/
WebStorage/
VideoDecodeStats/
User/History/
User/workspaceStorage/
User/globalStorage/
*.vscdb
*.vscdb.backup
.org.chromium.*

# Gemini Sessions (Data)
sessions/
cli/.config/gemini/sessions/

# Absolute Blocks for IDE State
cli/.config/Antigravity/*
!cli/.config/Antigravity/agy.md
!cli/.config/Antigravity/User/
cli/.config/Antigravity/User/*
!cli/.config/Antigravity/User/settings.json



