# This is Git's per-user configuration file.
[user]
	name = Alexandre Varga
	email = alexandrevargadev@gmail.com
[core]
	editor = nano
[init]
	defaultBranch = main
[pull]
	rebase = true
[alias]
	st = status
	co = checkout
	br = branch
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
