[Desktop Entry]
Type=Application
Name=VS Code Insiders
Exec=code-insiders
Icon=code-insiders
Comment=Start VS Code Insiders on Login
X-GNOME-Autostart-enabled=true
