[Desktop Entry]
Type=Application
Name=VS Code Insiders
Exec=sh -c "sleep 3 && code-insiders"
Icon=code-insiders
Comment=Start VS Code Insiders on Login
X-GNOME-Autostart-enabled=true
