[Desktop Entry]
Type=Application
Name=EasyEffects
Exec=flatpak run com.github.wwmm.easyeffects --gapplication-service
Icon=com.github.wwmm.easyeffects
Comment=Start EasyEffects Audio Service on Login
X-GNOME-Autostart-enabled=true
