[Desktop Entry]
Type=Application
Name=Floorp
Exec=flatpak run one.ablaze.floorp
Icon=one.ablaze.floorp
Comment=Start Floorp Browser on Login
X-GNOME-Autostart-enabled=true
X-GNOME-Autostart-Delay=4
