[Desktop Entry]
Type=Application
Name=Ghostty
Exec=/usr/bin/ghostty
Icon=com.mitchellh.ghostty
Comment=Start Ghostty Terminal on Login
X-GNOME-Autostart-enabled=false
StartupNotify=false
