[Desktop Entry]
Type=Application
Name=Ghostty
Exec=sh -c "sleep 0.5 && ghostty -e tmuxp load -y development"
Icon=com.mitchellh.ghostty
Comment=Start Ghostty Terminal on Login
X-GNOME-Autostart-enabled=true
