[Desktop Entry]
Type=Application
Name=Ghostty
Exec=ghostty -e sh -c "tmux attach-session -t Development || tmux new-session -s Development"
Icon=com.mitchellh.ghostty
Comment=Start Ghostty Terminal on Login
X-GNOME-Autostart-enabled=true
