# ==============================================================================
# KICKSTART SRE — INSTALAÇÃO ISOLADA DO FEDORA 44 (Laboratório)
# ==============================================================================

# 1. Configurações Básicas
text
keyboard --vckeymap=br --xlayouts='br'
lang pt_BR.UTF-8
timezone America/Sao_Paulo
network --bootproto=dhcp --activate
selinux --enforcing
firewall --enabled

# 2. Usuário Root e Usuário Local
# Senha root desativada (padrão Ubuntu/Fedora Sudo)
rootpw --lock
# ATENÇÃO: Troque a senha abaixo pela sua senha real. 
# O --plaintext indica que está em texto puro (o Anaconda vai encriptar na hora).
user --name=alexandre --groups=wheel --password=123 --plaintext

# 3. Blindagem de Discos (O Segredo para não explodir seu PC)
# O instalador vai focar apenas no seu SSD SATA (sda), ignorando o NVMe.
ignoredisk --only-use=sda

# Não apaga nenhuma partição que já exista (Preserva seu sda1 e sda2)
clearpart --none

# Força o instalador a gravar o EFI no mesmo disco isolado e boota em modo Matrix (Verbose)
bootloader --append=""

# 4. Particionamento Inteligente (Ele vai usar apenas o espaço Não Alocado de ~93GB)
# Cria um EFI bootloader NOVO isolado no seu segundo SSD
part /boot/efi --fstype="efi" --size=600 --ondisk=sda
# Cria o boot
part /boot --fstype="ext4" --size=2048 --ondisk=sda
# Pega todo o resto do espaço não alocado (--grow) e faz o BTRFS
part btrfs.1 --size=1000 --grow --ondisk=sda

# 5. Mágica dos Subvolumes BTRFS
# Cria o Volume Pai primeiro (O Ancestor)
btrfs none --label=fedora btrfs.1

# Cria os subvolumes dentro do Volume Pai
btrfs / --subvol --name=root LABEL=fedora
btrfs /home --subvol --name=home LABEL=fedora
btrfs /var --subvol --name=var LABEL=fedora
btrfs /.snapshots --subvol --name=snapshots LABEL=fedora
btrfs /tmp --subvol --name=tmp LABEL=fedora

# 6. Pós Instalação e Reboot Automático
reboot

%packages
@^workstation-product-environment
git
stow
zsh
%end
